:host {
  display: block;
  position: relative;
  height: 100%;
}

.viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.loading {
  color: #9e9e9e;
}
