<div
  class="viewport"
  cdk-scrollable
  #viewport
>
  <div [style.height.px]="rectangleHeight">
    <div
      class="content"
      [style.top.px]="contentOffset"
    >
      <div
        *ngFor="let eventID of viewportEventIDs; let viewportIndex = index"
        class="event"
        [style.height.px]="eventHeight"
      >
        <ng-container *ngIf="getEvent(viewportIndex) as cachedEvent; else loading">
          {{cachedEvent.name}}
        </ng-container>
        <ng-template #loading>
          <div class="loading">
            loading...
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
